VITE_SUPABASE_URL=https://ctutdpvadlyozryhblrk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0dXRkcHZhZGx5b3pyeWhibHJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1NjQ4ODgsImV4cCI6MjEwMTE0MDg4OH0.ou-3MwzwrVW2a2UIMQXcqSE95W6toMvO-i5jrEaWgic
